<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get session</title>
</head>
<body>
    <h4>Get Session</h4>
    <h5>{{name}}</h5>
    <h5>{{lname}}</h5>

    {% for key in request.session.keys %}
    {{key}}
    {% endfor %}

    {% for key in keys %}
    {{key}}
    {% endfor %}
    <br><hr>

<!-- {% for item in items %}
    {{item}}
{% endfor %} -->

{% for key,value in items %}
    {{key}}
    {{value}}
    <br>
{% endfor %}
<hr>
{{age}}



<!-- some other method in session -->
<hr>
{{request.session.get_session_cookie_age}}
<br>
{{request.session.get_expiry_age}}
<br>
{{request.session.get_expiry_date}}
<br>
{{request.session.get_expire_at_browser_close}}
<hr>




</body>
</html>