<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<style>
    table,th,tr,td{
        border: 1px solid black;
    }
</style>

<body>
    <h1>Student Information</h1>

    <table  >
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>roll</th>
                <th>city</th>
                <th>marks</th>
                <th>passing date</th>
            </tr>
        </thead>

        <tbody>
            {% for item in students %}
            <tr >
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.roll}}</td>
                <td>{{item.city}}</td>
                <td>{{item.marks}}</td>
                <td>{{item.pass_date}}</td>
            </tr>
            {% endfor %}
        </tbody>





    </table>

<h1>City</h1>
{% for item in students %}
<h4>{{item}}</h4>
{% endfor %}



</body>
</html>