<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{myintro.intro|upper}}</h1>
    <br>
    <br>
    <a href="{{url.url}}">{{url.url|capfirst}}</a>

    <h1>{{value|default:'welcome guest'}}</h1>

    <!-- if the value true it will print the value otherwise it will show the default -->
    
    
</body>
</html>