{% extends 'myapplication/base.html' %}
{% block style %}
<style>
    .errorlist{
        list-style: none;
        text-align: end;
        color:white;
        font-weight: 300;
        font-size: .9rem;
    }
</style>
{% endblock style %}

{% block content %}
<div class="mt-5 mb-5 bg-secondary shadow position-relative">
    <div class="position-absolute top-0 end-0">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{error}}</div>
        {% endfor %}
    </div>
    <div class="position-absolute top-0 start-0"><a class="text-white fs-5" href="{% url 'dashboard' %}"><h1><i class="bi bi-arrow-left-square-fill"></i></h1></a></div>


    <div class="container  text-light d-flex justify-content-center align-items-center flex-column "
        style="height: 80vh;">
        <h1 class="text-warning">Change Password</h1>

        <hr class="border border-warning border-5 w-100">


        <form class="w-100 d-flex flex-column justify-content-center align-items-center" action="{% url 'passwordchange' %}" method="POST" novalidate>
            {% csrf_token %}
            <div class="mb-4 w-50">
                {{form.old_password.label_tag}}
                {{form.old_password}}
                {{form.old_password.errors}}
            </div>
            <div class="mb-4 w-50">
                {{form.new_password1.label_tag}}
                {{form.new_password1}}
                {{form.new_password1.errors}}
            </div>
            <div class="mb-4 w-50">
                {{form.new_password2.label_tag}}
                {{form.new_password2}}
                {{form.new_password2.errors}}
            </div>


            <div class="text-end mt-4">
                <button type="submit" class="btn btn-outline-warning w-100">Change password</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}