<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div style="background-color: red; color: white;">
            {{error}}
        </div>
        
        {% endfor %}
    {% endif %}

    <h1>Login form!!!</h1>
    {% for field in form %}
    <div>
    {{field.label_tag}}
    {{field}}
    {{field.errors|striptags}}
  </div><br>
    {% endfor %}
    <button type="submit">Login</button>
    </form>
    <br>
   <h4> <a href="{% url 'signup' %}">Click here to sign up</a></h4>
</body>
</html>