<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
   
    <h1>Welcome {{name}}</h1>
    <a href="{% url 'withoutoldpassword' %}" style="margin-right: 20px;">password change without old password</a>
    <span>|</span>
    <a href="{% url 'changepassword' %}" style="margin:0px 20px ;" >Change Password</a>
    <small>
        {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor%}
        {% endif %}
    </small> <a href="{% url 'logout' %}">logout</a>
    <br><br>
  
    <form action="" method="POST" novalidate>
        {% csrf_token %}
    
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div style="background-color: red; color: white;">
                {{error}}
            </div>
            
            {% endfor %}
        {% endif %}
        {% for field in form %}
        <div>
        {{field.label_tag}}
        {{field}}
        {{field.errors|striptags}}
      </div><br>
        {% endfor %}
        <button type="submit">Save Changes</button>
        </form>
    
</body>
</html>