<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Without old password</h1>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
    
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div style="background-color: red; color: white;">
                {{error}}
            </div>
            
            {% endfor %}
        {% endif %}
    
        {% for field in form %}
        <div>
        {{field.label_tag}}
        {{field}}
        {{field.errors|striptags}}
      </div><br>
        {% endfor %}
        <button type="submit">Update Password</button>
        </form>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
</body>
</html>