<nav class="navbar navbar-expand-lg w-100 navbar-dark shadow ">
    <div class="container-fluid">
        <a class="navbar-brand   text-warning" href="#">
            <div class="navbar-border">
                <span class="bg-warning text-white px-3 py-1">Web </span>
                <span class="bg-light py-1 px-3">Learning</span>
            </div>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-5">
            <li class="nav-item">
                <a class="nav-link {{homecolor}}" aria-current="page" href="{% url 'home' %}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{aboutcolor}}" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{contactcolor}}" href="{% url 'contact' %}">contact</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {{dashboardcolor}} " href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}

            {% else %}
            <li class="nav-item">
                <a href="{% url 'signup' %}" class="rounded px-3 nav-link {{signupcolor}}">Signup</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %} " class="rounded nav-link {{logincolor}} rounded">Login</a>
            </li>
            {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        <div class="pointer align-items-center" data-bs-toggle="collapse"
            href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="d-flex align-items-center px-4 shadow user rounded">
                <span class="me-3 text-warning"><i class="bi bi-person-circle fs-2"></i></span>
                <span class="text-warning text-uppercase">{{request.user.username}}</span>
                <span class="text-warning ms-1"><i class="bi bi-caret-down-fill"></i></span>
            </div>
        </div>
        {% else %}
        <div class="pointer align-items-center" data-bs-toggle="collapse"
            href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="d-flex align-items-center px-4 shadow user rounded">
                <span class="me-3 text-warning"><i class="bi bi-person-circle fs-2"></i></span>
                <span class="text-warning text-uppercase">Login</span>
                <span class="text-warning ms-1"><i class="bi bi-caret-down-fill"></i></span>
            </div>
        </div>
        {% endif %}

    </div>
</nav>



<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-4"></div>
    <div class="col-md-3">
        <div class="collapse position-absolute end-0 raja w-25 " id="collapseExample">
            <div class="card card-body bg-dark shadow px-4 py-4 text-white">
                {% if request.user.is_authenticated %}
                <div class="row">
                    <div class="col-sm-6 d-flex justify-content-center align-items-center">
                        <span class="me-2 text-warning"><i class="bi bi-person-circle fs-2 "></i></span>
                        <span class="text-uppercase text-warning">{{request.user.username}}</span>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end align-items-center">
                        <a class="btn btn-warning" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-sm-6 d-flex justify-content-center align-items-center">
                        <span class="me-2 text-warning"><i class="bi bi-person-circle fs-2 "></i></span>
                        <span class="text-uppercase text-warning">Guest</span>
                    </div>
                   
                    
                    <div class="col-sm-6 d-flex justify-content-end align-items-center">
                    
                    </div>
                </div>
                {% endif %}


                <hr class="border border-warning border-4">
                {% if not request.user.is_authenticated %}
                <div>
                    <p><span class="text-warning">Already</span> Register</p>
                    <a class="text-warning" href="{% url 'login' %}">Click here to login</a>
                </div>
                <hr>
                <div>
                    <p><span class="text-warning"> Not</span> Register</p>
                    <a class=" text-warning" href="{% url 'signup' %}">Click here to Sign up</a>
                </div>
                {% else %}

                {% endif %}

            </div>

        </div>
    </div>
</div>